.embed {
  width: 40rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: $background-alt;
}

.embed-site {
  color: blue;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  span{
    margin-left: 0.2rem;}
}
.embed-img {
  width: 60rem;
  height: 18rem;
  background-size: cover;
  background-position: center;
  align-self: center;
  margin-left: 1rem;
}

.embed-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  margin-left: 1rem;
  p, h1 {
    font-family: $font-p !important;
  }
}

.carousel {
  background-color: $background-alt;
 }

.embed-inner {
  height: 28rem;
  margin-left: 33%;
}

.embed-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-alt;
  padding: 2rem;
}

.section-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.embeds__outer {
  background-color: $background-alt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80vh;

}

.embeds__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10rem;
}

.embeds__card {
  padding: 0rem 1rem 0rem 0rem;
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  min-height: 20rem;
  h5 {
    font-size: 0.9rem;
  }
  p, span {
    font-size: 0.8rem;
  }
}
.embed__site span {
  font-size: 0.9rem;
  font-weight: bold;
}

.embed__img {
  flex-basis: 1;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  align-self: center;
}

.embed__body {
  text-align: left;
  padding-top: 1rem;
  margin-left: 1.5rem;
  flex-basis: 80%;
}

.embeds__heading {
  text-align: center;
  padding: 2rem;
  background-color: $background-alt;
  box-shadow: 1px 1px 10px $light-gray-2;

}

.change__satus__a {
}

.change__status__b {
  display: contents;
}
