<!-- navbar -->

<!-- end navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex flex-row">
	<div class="navbar__logo__item__ d-flex flex-row">
		{{ readFile "static/images/cbc-outline.svg" | safeHTML }}
		<div class="nav__title">
			<a href="https://www.brown.edu/research/projects/computational-biology-of-human-disease/computational-biology-core">
				<small class="">{{ .Site.Params.top }}</small>
			</a>
			<a href="/">
				<p class=""><strong>{{ .Site.Title }}</strong></p>
			</a>
		</div>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			{{range .Site.Menus.main}}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</div>

</nav>
