<div class="embeds__heading">
<h1 >{{ .Site.Params.slider.title | markdownify }}</h1>
</div>
<div class="embeds__outer">

  <div class="embeds__container">
    {{ range $index, $element := first 12 .Site.Data.embed }}

    <div class="embeds__card {{if eq (mod $index 2) 0}}change__satus__a{{ else }}change__status_b{{ end }}" >
      {{ if .images }}
      <div class="embed__img" style="background-image: url({{ range first 1 .images }}{{ .url }}{{ end }})"></div>
      {{ else }}
      <div class="embed__img"><img src="{{ "images/dna.svg" | absURL }}"></div>
      {{ end }}
      <div class="embed__body">
        <div class="embed__site">
          <span>{{ .site }}</span>
        </div>
        <h5 class="embed__title">{{ truncate 100 .title }}</h5>
        <p class="embed__text">{{ truncate 100 .description }}</p>
        <a class="embed__external__link" href="{{ .url }}">
          <span class="text-muted">Read more</span>
          <span class="fas fa-external-link-alt"></span>
        </a>
      </div>
    </div>

    {{ end }}
  </div>
</div>
