{{ define "main" }}
<!-- Hero unit -->
{{ partial "front" .}}
<!-- Data Analysis -->
<div id="{{ .Params.data.id }}" class="steps landing__section">
	<div class="container">
		<h2>{{ .Params.data.title | markdownify }}</h2>
		<p>{{ .Params.data.description | markdownify }}</p>
	</div>
	<div class="container">
		<div class="steps__inner">
			{{ range $i, $box :=  .Params.data.box }}

			{{if eq (mod $i 3) 0}}
		</div>
		<div class="steps__inner">
			{{ end }}
			<div class="step">
				<div class="steps__inner">
					<div class="step">
						<div class="step__media"><img src="{{$box.src}}" alt="{{$box.alt}}" class="step__image" /></div>
						<h4>{{ $box.title | markdownify }}</h4>
						<p class="step__text">{{ $box.text | markdownify }}</p>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
		<div class="container">
			<a href="{{ .Params.data.button.href }}" class="button button__accent">{{ .Params.data.button.text | markdownify}}</a>
		</div>
	</div>
</div>

<!-- Consulting -->

<!-- Expanded sections -->
{{ range .Params.consulting.section }}
<div id="{{ .id }}"class="expanded landing__section">
	<div class="container">
		<div class="expanded__inner">
			<div class="expanded__media">
				<iframe class="iframe-calendar" src="https://calendar.google.com/calendar/embed?src=brown.edu_oe4t4gp3e9vvu8crij3d6pblq4%40group.calendar.google.com&amp;ctz=America/New_York" style="border: 0" frameborder="0" scrolling="no"></iframe>
				<!-- <img src="{{.src}}" alt="{{.alt}}" class="expanded__image" /> -->
			</div>
			<div class="expanded__content">
				<h2 class="expanded__title">{{ .title | markdownify }}</h2>
				<p class="expanded__text">{{ .text | markdownify }}</p>
			</div>
		</div>
	</div>
	<div class="container">
		<p class="services-text2">{{ .text2 | markdownify}}</p>
	</div>

	<div class="container-services">
		{{ range .button }}

		<a href="{{ .href }}" class="button button__accent">{{ .title | markdownify}}</a>

		{{ end }}
	</div>

</div>
{{ end }}

<!-- DevOps -->
<div id="{{ .Params.devops.id }}" class="expanded landing__section">
	<div class="container">
		<div class="expanded__inner">
			<div class="expanded__media"><img src="{{ .Params.devops.src}}" alt="{{ .Params.devops.alt}}" class="expanded__image" /></div>
			<div class="expanded__content">
				<h2 class="expanded__title">{{ .Params.devops.title | markdownify }}</h2>
				<p class="expanded__text">{{ .Params.devops.text | markdownify }}</p>
			</div>
		</div>
	</div>
</div>


{{ end }}
